extends layout

block body
	- if (locals.demo)
		div.notice-bar=t('board.demo_notice')
			span=" "
			a(href="/")=t('board.home_link')

	//div.config
	//	i.fa.fa-cog.fa-lg.faded-icon

	div.board-outline
		div#board
			div#board-doodles
			img#marker(src='images/marker.png')
			img#eraser(src='images/eraser.png')


			table#board-table.board-table
				tr
					td#icon-col(width='1%')
						img#add-col.col-icon(width='20', height='20', src='images/icons/iconic/raster/black/plus_alt_32x32.png')
						img#delete-col.col-icon(width='20', height='20', src='images/icons/iconic/raster/black/minus_alt_32x32.png')
				
						
	div.buttons
		i#create-card.fa.fa-plus-circle.fa-2x.bottom-icon
		br
		select(id="card-color", name="card-color", title=t('card.color.title'))
			option(value="random", style="background-image: linear-gradient(to right,white,yellow,green,blue)") #{t('card.color.random')}
			option(value="yellow", style="background-color: yellow") #{t('card.color.yellow')}
			option(value="green", style="background-color: green") #{t('card.color.green')}
			option(value="blue", style="background-color: blue; color:white") #{t('card.color.blue')}
			option(value="white", style="background-color: white") #{t('card.color.white')}
			option(value="pink", style="background-color: pink") #{t('card.color.pink')}
		br
		i#smallify.fa.fa-expand.fa-2x.bottom-icon
		br
		i#fontify.fa.fa-font.fa-2x.bottom-icon
		br
		i#font-increase.fa.fa-search-plus.fa-2x.bottom-icon
		br
		i#font-decrease.fa.fa-search-minus.fa-2x.bottom-icon
		br
		i#protect-room.fa.fa-eye-slash.fa-2x.bottom-icon


	div.stickers
		div.sticker#sticker-red
		div.sticker#sticker-blue
		div.sticker#sticker-yellow
		div.sticker#sticker-green
		br
		div.sticker#sticker-pink
		div.sticker#sticker-lightblue
		div.sticker#sticker-orange
		div.sticker#sticker-purple
		//div.sticker#sticker-silverstar
		//div#addsticker
		br
		div.sticker#nosticker
		br
		div.sticker#sticker-gold
			img(src="/images/stickers/sticker-gold.png")
		div.sticker#sticker-bluestar
			img(src="/images/stickers/sticker-bluestar.png")
		div.sticker#sticker-silverstar
			img(src="/images/stickers/sticker-silverstar.png")
		div.sticker#sticker-redstar
			img(src="/images/stickers/sticker-redstar.png")

	div.names
		p=t('board.connected')
		//img#user-icon(src="/images/icons/cc/black/png/user_icon&16.png")
		input#yourname-input
		span.you-text=t('board.you')
		ul#names-ul

	div.tools
		div.export
			h3=t('board.export')
			div
				button#export-txt=t('board.text_format')
				button#export-csv=t('board.csv_format')
				button#export-json=t('board.json_format')
    	
		div.import
			h3=t('board.import')
			div
				label(for="import-input")=t('board.import_input')
				input(type="file")#import-input
				button#import-file=t('board.import_button')
    	
		div.revisions
			h3=t('board.revisions')
			div
				ul#revisions-list
				button#create-revision=t('board.create_revision')
				div
					ul#revisions-list

	//div.trash
	//	i.fa.fa-trash-o.fa-lg.faded-icon

	//<div style="width: 980px; height: 450px; border: solid 2px; opacity:.1; margin-top: 100px"> this will be the backlog that only appears on drag or perhaps not at all</div>

	<script type="text/javascript">	  var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-2069672-4']);  _gaq.push(['_trackPageview']);   (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })(); </script>
